*.pyc
*.txt
*.jpg
*.png
*.JPEG
*meta
*ckpt

data/

.idea/workspace.xml
.idea/tasks.xml
runs/

datasets/bigearth/images/

tests/

\.idea/

datasets/bigearth/big_earth_50000\.csv

datasets/bigearth/quantiles_50000\.json

buono_sposta_in_test/
